<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="loggerInfo" type="BCTools.CustomConfig.LoggerConfigSection, BCTools.CustomConfig"/>
	</configSections>
	<loggerInfo>
		<loggers>
			<logger 				
				layoutName="ALL.ClientLibrary"
				level="Info" 				
				filePath="C:\\Logs\\"
				staticLogFileName="false"
				datePattern="yyyy\\yyyyMM\\yyyy-MM-dd'.log'"				
				maximumFileSize="20kb"
				text="{newline} 记录时间：{date} 线程ID:{thread} 日志级别：{level} {newline} 日志Id：{LogId}{newline} 外部订单号：{RegOrderNo}{newline} 银联流水号：{OrigQryId}{newline} 业务类型：{BussName}{newline} 入参:{InText}{newline} 出参:{OutText}{newline} 信息：{Message}"
			/>
		</loggers>
	</loggerInfo>
</configuration>
